.headerContainer{
    width: 92%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(229, 146, 13);
    padding-bottom: 30px;
}
.headerLogo{
    width: 25px;
}